/**==============================================================
/*  QT Megamenu Plugin 
/* ============================================================== */
.qt-megamenu__container {
  position: relative;
  width: 100%;
  display: block;
  height: auto;
  top: 0;
  left: 0;
  overflow: visible;
  overflow-x: visible;
  text-align: initial;
  z-index: 10000000; }

.qt-megamenu__item {
  position: absolute;
  z-index: 10000000;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  overflow: hidden;
  transition: max-height .4s;
  height: auto;
  max-height: 0; }
  .qt-megamenu__item.open {
    max-height: 100%;
    max-height: 99vh; }

.qt-megamenu__itemcontent {
  height: auto;
  padding: 0; }
